# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
.idea/
.idea/workspace.xml


# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.bower-*/
.idea/
.idea/workspace.xml
coverage/

# MEAN.js app and assets
# ======================
public/dist/
uploads
modules/users/client/img/profile/uploads
config/env/local.js
*.pem
.idea/
.idea/workspace.xml

# Ignoring MEAN.JS's gh-pages branch for documenation
_site/
.idea/workspace.xml

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/
.idea/
.idea/workspace.xml

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace
.idea/workspace.xml

# Eclipse project files
# =====================
.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties
.idea/workspace.xml


# IntelliJ
# ========
*.iml
.idea/workspace.xml

# Cloud9 IDE
# =========
.c9/
data/
mongod
.idea/
.idea/workspace.xml

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln
.idea/
.idea/workspace.xml