<!DOCTYPE html>
<html>
  <head>
    <title>工作积累</title>
      <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
      <%- include header.ejs%>
      <!--内容区 START-->
      <div class="content">
          <ul>
              <%if(articles){for(var i=0 ; i<articles.length; i++){%>
              <li>
                  <a href="articles/<%=articles[i].id%>"><%=articles[i].title%></a>
              </li>
              <%}}else{%>
                暂无文章发布
              <%}%>

          </ul>

      </div>
      <!--内容区 END-->
      <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  </body>
</html>
