<!DOCTYPE html>
<html>
<head>
    <title>qrimg</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>qrimg</h1>
<img src="/create_qrcode?text=http://blog.csdn.net/fo11ower"/>
</body>
</html>